body{
font-family: Arial;
background-color: #f6f0ff;
background-image:url('https://w.wallhaven.cc/full/nk/wallhaven-nkzdxd.jpg') ;
width: 60%;
margin: auto;

border-top: 5px solid #ffc8dd;
border-bottom: 5px solid #bde0fe;
border-left: 5px solid #cdb4db;
border-right: 5px solid #cdb4db;
}

h1{
color: #6a4c93;
width: 50%;
bord1e 
}

ul{
background-color: #ffd6e0;
}

p{
background-color: #e7f5ff;
}



